.DrawerToggle {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.DrawerToggle div {
  width: 90%;
  height: 3px;
  background: linear-gradient(to bottom left, #ff66ff 0%, #3399ff 100%);
  border: 1px solid black;
  border-radius: 50px;
}

@media (min-width: 500px) {
  .DrawerToggle {
    display: none;
  }
}
